article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
  width: 100%;
  min-height: 400px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

#project-title-detail {
  font-size: 2.5rem;
}

#type,
#language {
  font-weight: bold;
}

#category-container,
#language-container {
  padding: 0.5rem;
  border-top: 1px solid black;
}

#language-container {
  border-bottom: 1px solid black;
}

@media (min-width: 690px) {
  #language-container,
  #category-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

#back-button {
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  article {
    margin: 0 8.5rem;
  }

  #category-container,
  #language-container {
    align-self: center;
    text-align: center;
  }

  #body-font {
    font-size: 1.5rem;
  }
}
