<ul>
  <li>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      >All</a
    >
  </li>
  <li
    *ngFor="let category of categories"
    [ngClass]="{
      active: categoryFilter && category.id === categoryFilter.id,
      inactive: !categoryFilter || category.id !== categoryFilter.id
    }"
    (click)="setCategoryFilter(category)"
  >
    <a
      [routerLink]="['/projects/categories', category.slug]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      {{ category.name }}
    </a>
  </li>
</ul>
