ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

li {
  display: inline;
  transition: transform 0.5s;
}

li:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.4rem;
  text-align: center;
  border-radius: 25px;
  width: 120px;
}

a.active {
  background-color: rgb(193, 208, 181);
  color: white;
}
