ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  display: inline;
  margin: 0 0.5rem;
  padding: 0.4rem;
  width: 120px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 0px 14px 2px rgba(194, 194, 194, 1);
  transition: transform 0.5s;
}

li:hover {
  transform: scale(1.1);
}
