.app-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* about me section */

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 600px;
  height: auto;
  padding: 3rem;
  box-shadow: 0px 0px 14px 2px rgba(194, 194, 194, 1);
}

#about-me-container h1 {
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
}

#about-me-description {
  font-size: 1.5rem;
  text-align: center;
}

#contact {
  text-decoration: none;
}

#profile-picture {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

/* about me section end */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* categoies and tags */
#categories-tags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
