<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="app-container">
  <header>
    <section id="about-me-container">
      <div id="profile-picture-container">
        <img
          id="profile-picture"
          src="../assets/images/nigel-portrait.JPG"
          alt="Profile Picture"
        />
      </div>
      <h1>{{ author }}</h1>
      <p id="about-me-description">{{ description }}</p>
      <a
        id="contact"
        href="https://www.linkedin.com/in/nigel-brown-541988b9/"
        >{{ contact }}</a
      >
    </section>
  </header>
  <main>
    <h2>My Projects</h2>
    <section id="filters">
      <div id="categories-tags-container">
        <div id="categories">
          <app-categories
            [categoryFilter]="categoryFilter"
            (newCategoryFilterEvent)="setCategoryFilter($event)"
          ></app-categories>
        </div>
        <div id="tags">
          <app-tags
            [tagFilter]="tagFilter"
            (newTagFilterEvent)="setTagFilter($event)"
          ></app-tags>
        </div>
      </div>
    </section>
    <router-outlet></router-outlet>
    <!-- <section id="projects-container" *ngIf="!selectedProject">
      <app-projects
        [categoryFilter]="categoryFilter"
        (newCategoryFilterEvent)="setCategoryFilter($event)"
        [tagFilter]="tagFilter"
        (newTagFilterEvent)="setTagFilter($event)"
        (newSelectedProjectEvent)="setSelectedProject($event)"
      >
      </app-projects>
    </section>
    <section id="project" *ngIf="selectedProject">
      <button (click)="clearSelectedProject()">Back</button>
      <app-project [project]="selectedProject"></app-project>
    </section> -->
  </main>
  <footer>
    <p>&copy; {{ date }} {{ author }}</p>
  </footer>
</div>

<router-outlet />
