<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap"
  rel="stylesheet"
/>
<div class="app-container">
  <header *ngIf="!isProjectsDetailPage()">
    <section id="about-me-container">
      <div id="container">
        <div id="profile-picture-container">
          <img
            id="profile-picture"
            src="../assets/images/nigel-portrait.JPG"
            alt="Profile Picture"
          />
        </div>
        <h1 id="author">{{ author }}</h1>
        <p id="about-me-description">{{ description }}</p>
        <a
          id="contact"
          href="https://www.linkedin.com/in/nigel-brown-541988b9/"
          target="_blank"
          rel="noopener noreferrer"
          >{{ contact }}</a
        >
      </div>
    </section>
  </header>
  <main>
    <section id="filters" *ngIf="!isProjectsDetailPage()">
      <div id="categories-tags-container">
        <div id="categories">
          <app-categories
            [categoryFilter]="categoryFilter"
            (newCategoryFilterEvent)="setCategoryFilter($event)"
          ></app-categories>
        </div>
      </div>
    </section>
    <router-outlet></router-outlet>
  </main>
</div>

<router-outlet />
<footer>
  <p>&copy; {{ date }} {{ author }}</p>
</footer>
